*{
    margin: 0;
    box-sizing: 0;
}

.password-main{
    width: 100%;
    height: 100vh;
    background:linear-gradient(to top right,rgb(12, 143, 237),rgb(165, 4, 143) );
    display: flex;
    align-items: center;
    justify-content: center;
}


.password-section{
    
    width:400px;
    height: 420px;
    background: white;
    border-radius: 4px;
    color: rgb(36, 35, 35);
    font-family: "Gill Sans", sans-serif;
    display: flex;
    flex-direction: column;
    
    
    
    
}
.password-header{
    background:rgb(1, 1, 49);
    color: white;
    width: 100%;
}
.password-content{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}


.password-main>.password-section>label{
    margin-left: 10px;
    margin-top: 1rem;
   
}
.editprofile-main>.editprofile-section>.edit-content>.edit-inp>label{
    margin-right: 25px;
   
}
.pswd{
    width:350px;
    height: 30px;
    margin-top: 1rem;
    border-radius: 7px;
    border:0.3px solid;
    border-color: rgba(156, 153, 153, 0.51);
    outline: none;
    transition: 0.4s ease-in-out;
}

.pswd-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-main>.password-section>.pswd-btn>button{
    margin-top:2rem ;
    border:none;
    width:120px;
    height: 30px;
    background:linear-gradient(to top right,rgb(12, 143, 237),rgb(165, 4, 143) );
    border-radius: 9px;
    color: white;
    transition: 1s ease-in-out;

}
button:hover{
    transform:scale(1.05);

}

button:active{
 
    transform: translateY(12px);
  }

  span{
    color: red;
  }
