*{
    margin: 0;
    box-sizing: 0;
}

.profile-main{
    width: 100%;
    height: 100vh;
    background:linear-gradient(to top right,rgb(12, 143, 237),rgb(165, 4, 143) );
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.profile-section{
    width:450px;
    height: 320px;
    background: white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(36, 35, 35);
    font-family: "Gill Sans", sans-serif;
    
}
.profile-main>.profile-section>.profile-header{
    background:rgb(1, 1, 49);
    color: white;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    font-family: cursive;
}
.profile-main>.profile-section>.profile-header>h1{
    margin-left: 10px;
}
.profile-main>.profile-section>.icons>.icon{
    width:80px;
    height: 80px;
    color: rgb(1, 1, 49);
    margin-top: 30px;
}
.profile-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(46, 45, 45);
}
.profile-main>.profile-section>.profile-btns{
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile-main>.profile-section>.profile-btns>.pbtns{

    margin-top:1rem ;
    border:none;
    width:90px;
    height: 28px;
    background:linear-gradient(to top right,rgb(12, 143, 237),rgb(165, 4, 143) );
    border-radius: 9px;
    color: white;
    transition: 1s ease-in-out;

}
.profile-main>.profile-section>.profile-btns>.changepswd{
    width: 120px;
}
.pbtns:hover{
    transform:scale(1.05);
}
.pbtns:active{
 
  transform: translateY(12px);
}